<div class="global-container">
  <div class="gray-back">
  <div class="title-block">
    <p>
      PREVIEW ANY CRM ENTITY
      <br>
      IN ANY CRM LIST
    </p>
    <p>
      Avocado.Software’s Global Preview allows CRM users to preview any CRM
      <br>
      entity in any list without opening them individually.
    </p>
    <img src="img/Global-Preview-300x193.png"/>
  </div>
  
  <div class="demo-block">
    <img src="img/GlobalPreviewTopBackgroundImage.png">
    <div class="abs-block">
      <p>
        Be more efficient
        <br>
        and save time.
      </p>
      <p>
        Increase efficientcy and save time
        <br>
        with Akvelon Global Preview.
      </p>
      <button>TRE THE FREE DEMO</button>
      <span>
        Download the free 14-day trial.
      </span>
    </div>
  </div>
</div>
  <div class="info-block">
    <p>
      Why do I need Global Preview for
      <br>
      Microsoft Dynamic 365?
    </p>
    <p>
      Avocado.Software’s Global Preview is the missing link for a complete
      <br>
      CRM user experience. The add-in solution conveniently gets rid of the
      <br>
      hassle of individually opening and previewing CRM entities.
    </p>
  </div>
  <div class="separator"></div>
  <div class="preview-block">
    <div>
      <img class="big-img" src="img/GlobalPreviewImage.png">
    </div>
    <div>
      <p>Global Preview</p>
      <span class="small-separator"></span>
      <ul>
        <li>
          <span>
            Preview entities in an Outlook-style Preview
            <br>
            Pane directly in the CRM list
          </span>
        </li>
        <li>
          <span>
            Preview open and closed entities for selected
            <br>
            contacts, accounts, or any other entity
          </span>
        </li>
        <li>
          <span>
            Configure attributes to display for any
            <br>
            entity (including Custom Entities)
          </span>
        </li>
        <li>
          <span>
            Preview Notes and Attributes
          </span>
        </li>
        <li>
          <span>
            New features for Email preview
          </span>
        </li>
        <li>
          <span>
            Search emails directly in CRM
          </span>
        </li>
        <li>
          <span>
            Preview emails associated with Accounts,
            <br>
            Contacts, and other entities.
          </span>
        </li>
        <li>
          <span>
            Open CRM emails and attachments directly
            <br>
            from preview
          </span>
        </li>
        <li>
          <span>
            Create, reply, reply all, and print emails
            <br>
            from Email Preview
          </span>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="products-block gray-back">
    <p>
      Demo our products for free
    </p>
    <p>
      Demo Global Preview for free and experience powerful CRM
      <br>
      solutions to meet your company’s needs. Already tried the demo?
      <br>
      Take it a step further and download the free 14-day trial!
    </p>
    
    <div class="buttons-container">
      <div>
        <p>
          Global Preview Online
        </p>
        <button>DOWNLOAD TRIAL</button>
        <span>(Free 14-day trial)</span>
        <button>DEMO ONLINE</button>
        <span>
          <strong>Username:</strong> gp@gs100.onmicrosoft.com
          <br>
          <strong>Password:</strong> Akvelon1
        </span>
      </div>
      
      
      <div>
        <p>
          Global Preview On-Premise
        </p>
        <button>DOWNLOAD TRIAL</button>
        <span>(Free 14-day trial)</span>
        <button>USER MANUALS</button>
        <span>(Global Preview User Manuals)</span>
      </div>
    </div>
    
    <div class="bottom-buttons">
      <button>QUOTE ME</button>
      <button>CONTACT US</button>
    </div>
    
    <div class="separator"></div>
    
    <p class="products-paragraph">
      Instructions for Global Preview Demo
    </p>
    
    <ol>
      <li>
        At the sales tab, click te “Email Preview” menu
        <br>
        item to open general Email Preview screen.
      </li>
      <li>
        Global Preview pane is available from any CRM
        <br>
        grids/forms and sub-grids/sub-forms, for example
        <br>
        Contacts grid:
      </li>
    </ol>
    
    <img src="img/global_preview_pane.png">
    
  </div>
  <div class="get-started-block">
    <p>
      Get Started
    </p>
    <button>PURCHASE</button>
  </div>
</div>
  